<!-- Start Landing Page -->

<div class="landing-page">
    <div class="container">
      <div class="header-area">
        <img src="assets/img/logo.png" style="width: 38px;height: 38px;">
        <span class="logo" style="margin-left: 8px;"><a href="" style="text-decoration: none;">Sales <b>Forecasting</b></a></span>
        <ul class="links">
          <li (click)="goToLogin()">Login</li>
        </ul>
      </div>
      <div class="info">
        <h1><span class="typing"></span></h1>
        <p class="type hide"></p>
        <button class="hidden btn" (click)="goToLogin()">Get Started!</button>
      </div>
      <div class="image">
        <img src="assets/img/landing.gif">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  
  <!-- End Landing Page -->